<html>
<head>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <h1>Welcome to DocChecker!</h1>
    <p>Thank you for signing up, <%= username %></p>



    <p>Thanks,</p>
    <p>DocChecker Team!</p>
</body>
</html>
