<html>
<head>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <h1>Account Activation Failed</h1>
    <p>Dear <%= username %>,</p>
    <p>We regret to inform you that your account activation was unsuccessful.</p>



    <p>Thanks,</p>
    <p>DocChecker Team!</p>
</body>
</html>
